* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DinM";
}
body {
  background-color: #c3e8ff;
  overflow-x: hidden;
}

@font-face {
  font-family: "DinB";
  src: url("../fonts/DINNextLTArabic-Bold-2.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "DinM";
  src: url("../fonts/DINNextLTArabic-Medium-4.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "DinL";
  src: url("../fonts/DINNextLTArabic-Regular-2.ttf");
  font-weight: 200;
}
input::placeholder {
  font-family: "DinL";
}
:root {
  --main_color: #397dc0;
}
h1 {
  font-family: "DinB";
}
.m60 {
  margin-bottom: 60px;
}
p {
  margin: 0;
  font-family: "DinL";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg, #1f2265, #0181c6);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.m80 {
  margin-bottom: 80px;
}
.m100 {
  margin-bottom: 100px;
}
.btn_page {
  background: var(--main_color);
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DinB";
  max-width: 100%;
  transition: 0.5s;
  padding: 8px;
  border: 1px solid var(--main_color);
}
.btn_page:hover {
  color: var(--main_color);
  background-color: white !important;
}
.btn_page2 {
  color: var(--main_color);
  background-color: white;
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid var(--main_color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DinB";
  transition: 0.5s;
  padding: 8px 0px;
}
.btn_page2:hover {
  color: white;
  background: var(--main_color) !important;
  border: 1px solid var(--main_color);
}
.headtitle {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 16px;
  text-align: start;
  font-family: "DinB";
}

.p_page {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .headtitle {
    font-size: 40px;
    line-height: 50px;
  }

  .m80 {
    padding-bottom: 60px;
  }
  .m100 {
    padding-bottom: 80px;
  }
  .p_page {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

/*start style*/

/*start navbar*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #1f83b5;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--main_color);
}
.mean_btn {
  display: none;
}
.navbar {
  background: #FFFFFFDB;

  width: 100%;
  height: 100px;
}
.navbar .navbar-brand {
}
.navbar .navbar-brand img {
  width: 184px;
}
.navbar .collapse .btn_page {
}
.navbar .collapse .btn_page2 {
  border: none;
  height: 40px;
  border-radius: 0px;
  padding: 6px 16px;
  width: 130px;
  font-size: 18px;
}
.navbar .lang {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
}

.navbar .lang img {
  height: 20px;
  width: auto;
}
.navbar .lang p {
  font-size: 18px;
  line-height: 23px;
  font-family: "DinB";
  color: #3f3f3f;
}
.navbar .btn_page2 {
  font-size: 18px;
  line-height: 23px;
  border: none;
  height: 40px;
  border-radius: 0px;
  padding: 6px 16px;
  width: 130px;
}
.navbar .btn_page {
  font-size: 18px;
  line-height: 23px;
  width: 176px;
  height: 50px;
}

.navbar .nav-link {
  font-size: 18px;
  line-height: 28px;
  font-family: "DinB";
  position: relative;
  color: var(--main_color);
}
.navbar .nav-link::before {
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main_color);
  position: absolute;
  bottom: 6px;
  transition: 0.5s;
  border-radius: 88%;
}
.navbar .nav-link.active {
  color: var(--main_color);
}
.navbar .nav-link:hover:before {
  width: 80%;
}
.navbar .nav-link.active::before {
  width: 80%;
}
.navbar .navbar-collapse .btn_page {
  display: none;
}
ul.navbar-nav {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin: auto;
}
form.d-flex {
  margin-right: auto;
  margin: 0 !important;
}
@media (min-width: 992px) {
  .navbar .navbar-collapse .btn_page {
    display: flex;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
    gap: 10px;
    padding: 0px 4px;
  }
}
@media (max-width: 992px) {
  .navbar {
    height: 70px;
  }
  .mean_btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar-collapse {
    background: #397dc024;
    top: 10px;
    position: relative;
    align-items: center;
    border-radius: 22px;
  }
  ul.navbar-nav {
    margin: auto;
    padding: 20px 16px 4px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .navbar .navbar-collapse .btn_page2 {
    display: none;
  }
  .navbar .btn_page2 {
    border: none;
    font-size: 14px;
    height: 38px;
    width: 104px;
    border-radius: 16px;
    padding: 4px 10px 8px;
  }
}

@media (max-width: 500px) {
  .navbar .navbar-brand img {
    width: 134px;
  }

  .mean_btn {
    gap: 0px;
  }
}
/*end navbar/
/*app*/
.app {
}
.app .content {
  min-height: 730px;
  padding: 64px 0px;
}
.app .content h2 {
  text-align: center;
  color: var(--main_color);
  font-size: 70px;
  margin-bottom: 6px;
  line-height: 94px;
  font-family: "DinM";
}
.app .content .decApp {
  text-align: center;
  font-size: 24px;
  color: black;
  line-height: 44px;
  font-family: "DinB";
}
.app .content .parts {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  padding: 38px 0px;
}
.app .content .parts .part {
  padding: 58px 34px;
  border-radius: 6px;
  flex: 1;
  min-width: 280px;
  max-width: 400px;
  background-color: white;
  transition: 0.7s;
}
.app .content .parts .part .imgPart {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--main_color);
  margin-bottom: 10px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.app .content .parts .part .imgPart img {
  width: 58px;
  height: 58px;
}
.app .content .parts .part h3 {
  color: var(--main_color);
  text-align: center;
  line-height: 44px;
  margin-bottom: 8px;
  font-family: "DinB";
  font-size: 24px;
  transition: 0.4s;
}
.app .content .parts .part p {
  color: black;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  transition: 0.4s;
}
.app .content .parts .part:hover {
  background-color: var(--main_color);
  box-shadow: 10px 10px 50px #4a7dbb;
  transform: scale(1.02);
}
.app .content .parts .part:hover .imgPart {
  background-color: white;
}
.app .content .parts .part:hover h3 {
  color: white;
}
.app .content .parts .part:hover p {
  color: white;
}

@media (max-width: 768px) {
  .app .content .parts .part {
    padding: 34px 16px;
    max-width: 100%;
  }
  .app .content .parts .part h3 {
    line-height: 32px;
    font-size: 22px;
  }
  .app .content {
    min-height: auto;
    padding: 26px 0px;
  }
  .app .content h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .app .content .decApp {
    font-size: 18px;
    line-height: 44px;
  }
  .app .content .parts {
    gap: 14px;
    flex-wrap: wrap;
    padding: 26px 0px;
  }
}
/*house*/
.house {
  max-width: 2000px;
  margin: auto;
  min-height: 730px;
  background-image: url("../images/backHouse.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 94px 0px;
}
.house .content {
  padding: 32px 54px 22px;
  background: #ffffffcc;
  margin-right: 20px;
  width: 704px;
  max-width: 98%;
}
html[dir="ltr"] .house .content {
  margin-right: 0px;
  margin-left: 20px;
}
.house .content h2 {
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 44px;
  font-family: "DinB";
  color: var(--main_color);
}
.house .content h3 {
  font-size: 16px;
  color: #9e9e9e;
  line-height: 22px;
  font-family: "DinM";
  max-width: 490px;
}
.house .content h4 {
  margin-bottom: 4px;
  font-size: 24px;
  color: var(--main_color);
  line-height: 44px;
  font-family: "DinB";
}
.house .content ul {
  display: flex;
  align-items: center;
  gap: 14px;
}
.house .content ul li {
  width: 250px;
  height: auto;
  max-width: 100%;
}
.house .content ul li a {
  width: 100%;
  height: 100%;
}
.house .content ul li a svg {
  width: 100%;
  height: auto;
  max-width: 100%;
}
@media (max-width: 768px) {
  .house {
    background-position: right;
  }
}
@media (max-width: 520px) {
  .house .content {
    padding: 30px 30px 22px;
  }
  .house .content h2 {
    font-size: 52px;
    line-height: 74px;
    margin-bottom: 30px;
  }
  .house .content h4 {
    font-size: 22px;
  }
}
/*about*/
.about {
  background-color: var(--main_color);
  min-height: 780px;
  padding: 80px 0px;
  background-image: url("../images/backAbout.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about .content {
  display: flex;
  align-items: flex-start;
  gap: 42px;
  color: white;
  flex-wrap: wrap;
}
.about .content ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 80px;
  min-width: 300px;
}
.about .content ul li {
}
.about .content ul li h2 {
  font-size: 40px;
  line-height: 48px;
  font-family: "DinB";
  margin-bottom: 44px;
}
.about .content ul li p {
  font-size: 18px;
  font-family: "DinB";
  line-height: 28px;
}
.about .content .imagesPart {
  flex: 1;
  padding: 20px 0px;
  min-width: 326px;
}
.about .content .imagesPart img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .about .content ul {
    gap: 40px;
    min-width: 100%;
  }
  .about .content ul li h2 {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 26px;
  }
  .about .content ul li p {
    font-size: 16px;
    line-height: 26px;
  }
  .about .content {
    gap: 26px;
  }
  .about {
    min-height: auto;
    padding: 40px 0px;
  }
}
/*contactUs*/
.contactUs {
  min-height: 740px;
  background-image: url("../images/backContact.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0px;
  display: flex;
  align-items: center;
  position: relative;
}
.contactUs::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000080;
  width: 100%;
  height: 100%;
}
.contactUs .content {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 90px;
}
.contactUs .content .part1 {
  flex: 1;
  background-color: white;
  border-radius: 6px;
  padding: 18px 46px 50px;
}
.contactUs .content .part1 h2 {
  color: var(--main_color);
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 4px;
  font-family: "DinB";
}
.contactUs .content .part1 p {
  color: #9e9e9e;
  font-size: 24px;
  line-height: 44px;
  margin-bottom: 28px;
  font-family: "DinB";
}
.contactUs .content .part1 form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contactUs .content .part1 form input {
  width: 100%;
  min-height: 74px;
  height: auto;
  padding: 16px 20px;
  font-family: "DinB";
  font-size: 18px;
  border: none;
  outline: none;
}
.contactUs .content .part1 form input::placeholder {
  font-size: 18px;
  color: #717171;
  font-family: "DinB";
}
.contactUs .content .part1 form .inputFild {
  background: #dfdfdf;
}
.contactUs .content .part1 form input[type="text"] {
}
.contactUs .content .part1 form .btnSend {
  background-color: var(--main_color);
  color: white;
  height: 75px;
  transition: 0.4s;
  font-size: 32px;
}
.contactUs .content .part1 form .btnSend:hover {
  box-shadow: 5px 5px 50px var(--main_color);
}
.contactUs .content .part2 {
  flex: 1;
  color: white;
}
.contactUs .content .part2 h3 {
  color: white;
  font-size: 32px;
  line-height: 24px;
  margin-bottom: 30px;
  font-family: "DinB";
}
.contactUs .content .part2 h4 {
  color: white;
  font-size: 24px;
  line-height: 44px;
  margin-bottom: 44px;
}
.contactUs .content .part2 ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contactUs .content .part2 ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactUs .content .part2 ul li a p {
  font-size: 16px;
  line-height: 20px;
  font-family: "DinB";
  direction: ltr;
  color: white;
}
@media (max-width: 992px) {
  .contactUs .content .part1 {
    padding: 18px 30px 36px;
  }
  .contactUs .content {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .contactUs .content .part1 h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .contactUs .content .part1 p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .contactUs .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .contactUs .content .part1 {
    padding: 18px 22px 34px;
    width: 100%;
  }
  .contactUs .content .part1 form input {
    min-height: 58px;
    padding: 12px 16px;
    font-size: 16px;
  }
  .contactUs .content .part1 form input::placeholder {
    font-size: 14px;
  }
  .contactUs .content .part1 form .btnSend {
    height: 58px;
    font-size: 20px;
  }
  .contactUs .content .part2 h3 {
    font-size: 26px;

    margin-bottom: 16px;
  }
  .contactUs .content .part2 h4 {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 28px;
  }
}
/*footer*/
footer{
  padding: 36px 0px 64px;
  background-color: black;
}
footer .content{}
footer .content .part{
  display: flex;
  justify-content: space-between;
  gap: 22px;
  flex-wrap: wrap;
}
footer .content .part .partLogo{
  flex: 1;
}
footer .content .part .logo{
width: 286px;
height: auto;
display: block;
}

footer .content .part .logo img{
  width: 100%;
height: auto;
}
footer .content .part .part2{
  flex: 1;
}
footer .content .part .part2 ul{
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}
footer .content .part .part2 ul li{}
footer .content .part .part2 ul li a{
  font-size: 24px;
  line-height: 44px;
  color: white;
  font-family: "DinB";

}
footer .content .part .part2 .appFooter{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
footer .content .part .part2 .appFooter a{
  width: 150px;
  max-width: 100%;
  height: auto;
}
footer .content .part .part2 .appFooter a svg{
  width: 100%;
  max-width: 100%;
  height: auto;
}
footer .content .copy{
  margin-top: 28px;
}
footer .content .copy p{
  text-align: center;
  color: white;
}
@media (max-width: 992px) {
  footer .content .part .logo {
    width: 200px;
    
}
footer .content .part .part2 ul li a {
  font-size: 18px;
  
}
footer .content .part .part2 ul {
  margin-bottom: 22px;
  
  gap: 12px;

}
}
@media (max-width: 768px) {
  footer .content .part .logo {
   margin: auto;
    width: 220px;
}
footer .content .part .part2 .appFooter{
  justify-content: center;
}
footer .content .part {
  
  gap: 6px;

}
footer .content .part .part2 ul {
  margin-bottom: 18px;
  padding: 0px 10px;
}
footer .content .part .part2 .appFooter a {
  width: 124px;
 
}
footer {
  padding: 36px 0px 44px;
  
}
}
/*header*/
.header{
  background-image: url('../images/backHeader.webp');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 664px;
  min-height: 660px;
  padding: 110px 0px 50px;
  background-color: var(--main_color);
  position: relative;
  overflow: hidden;
}
.header::before{
  position: absolute;
  content: "";
  height: 100%;
  bottom: 0;
  width: 295px;
  background-image: url('../images/layer2.webp');
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}
.header .content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.header .content .part1{
  position: relative;
flex: 1;
}
.header .content .part1 .layer {
  position: absolute;
  width: 470px;
  height: auto;
  top: 42%;
  left: 12%;
  transform: translate(-50%,-50%);
  max-width: 200%;
  z-index: 1;
}
.header .content .part1 .phone{
  width: 228px;
  height: auto;
  display: block;
  position: relative;
    z-index: 5;
}
.header .content .part1 .isolation{
  position: absolute;
  top: -80px;
  left: -100px;
  z-index: 50;
}
 .header .content .part1 .phone {
  margin-right: auto;
}
html[dir=ltr] .header .content .part1 .phone {
 
  margin-right: 0px;
  margin-left: auto;
}
.header .content .part2{
  max-width: 600px;
  background: #397dc078;
  padding: 16px;
    border-radius: 8px;
    flex: 1;
}
.header .content .part2 h2{
  color: white;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 44px;
  font-family: "DinB";

}
.header .content .part2 h3{
  color: white;
  font-family: "DinM";
font-size: 16px;
line-height: 22px;
min-height: 120px;
max-width: 480px;
}
.header .content .part2 h4{
  color: white;
  font-family: "DinB";
  font-size: 24px;
  line-height: 44px;
margin-bottom: 6px;
}
.header .content .part2 ul{
  display: flex;
  align-items: center;
  gap: 14px;
}
.header .content .part2 ul li{}
.header .content .part2 ul li a{
  width: 250px;
  height: auto;
  max-width: 100%;
  display: block;
}
.header .content .part2 ul li a svg{
  width: 100%;
  height: auto;
  max-width: 100%;
}
@media (min-width: 2000px) {
  .header{
    background-image: url('../images/backHeader2.webp');
    background-position-x: 96%;
  }
}
@media (max-width: 1200px) {
  .header .content {
  
    gap: 40px;
}
.header {
 
  background-size: 550px;

}
.header .content .part2 h2 {
  font-size: 56px;
  line-height: 66px;
  margin-bottom: 30px;
}
.header .content .part1 .isolation {

  top: -70px;
  left: -60px;
  width: 130px;
}
}
@media (max-width: 992px) {
  .header .content .part1 .phone {
    width: 180px;
    
}
.header .content .part1 .isolation {
 
  top: -48px;
  left: -44px;
  width: 106px;
}
.header .content .part2 h2 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 20px;
}
.header .content .part2 h3 {
  
  font-size: 14px;
  line-height: 22px;
  min-height: 90px;
}
}
@media (max-width: 768px) {
  .header {
    background-image: none;}
    .header .content .part2 ul li a{
      width: 150px;
    
    }
    .header .content .part2 {
      max-width: 100%;
      background: transparent;
     
      padding: 0;
  }
  .header .content .part1 .layer {
    top: 50%;
    left: 24%;
    max-width: 225%;
}
}
@media (max-width: 600px) {
  .header {
   
    padding: 50px 0px 36px;

}
.header .content {
  gap: 54px;
  flex-direction: column-reverse;
}
.header .content .part2 h3 {
  font-size: 14px;
  
  min-height: auto;
}
.header .content .part2 h4 {
  
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 3px;
}
.header .content .part2 h2 {
  font-size: 30px;
  line-height: 40px;
}
}